{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="row mb-3">
        <div class="col-lg-6">
            <h1 class="cc-inner-title">Service: {{ page.title }}</h1>
            <p class="cc-inner-subtitle cc-service-subtitle">
                {{ page.description }}
            </p>

       
            {% if page.internal_page or page.external_page %}
                <a href="{% if page.internal_page %}{{ page.internal_page.url }}{% elif page.external_page %}
                {{ page.external_page }}{% else %}#{% endif %}">
                    {{ page.button_text }}
                </a>
            {% endif %}      
        </div>
        <div class="col-lg-6">
            <picture>
                {% image page.service_image fill-573x369 as img %}
                {{ img.url }}
                {{ img.alt }}
                <img src="{{ img.url }}" alt style='width: 100%; height: auto;' alt="{{ img.alt }}">
            </picture>
        </div>
    </div>
    
{% endblock content %}

